@import "tailwindcss";
p{
    margin: 0;
    padding: 0;
}
.remove_div{
    position:relative;
}
.remove_div_design {
    position: absolute;
    top: 3%;
    left: 17%;
    transform: translate(-12%, 8%);
}

.add_scroller {
    overflow-y: auto;
    border-radius: 5px;
    overflow-x: hidden;
}
 .heading_of_column{
    color: #032e63;
    font-weight: 700; 
}
.Side_Nav_Bar {
    background-color: #747a7a54;
}
.Editor_heading.text-center {
    margin: 10px;
}
.Ediotr_svg_parent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem; 
}
.Ediotr_svg_parent svg {
  display: inline-block;
}
.Ediotr_svg_parent p {
    display: inline-block;
    margin-left: 10px;
    font-weight: 700;
    color: #032e63;
        font-size: 20px;
}
.Ediotr_svg_parent div {
    padding: 10px;
    background: #ecf2fd;
    border-radius: 100%;
    align-items: center;
    display: block;
}
.Ediotr_svg_parent svg {
    display: inline-block;
}
.Divide_in_fifty{
    height:50%;
}
.h-1\/2 {
    overflow: hidden;
    display: ruby;
}
.Image_Heading_svg_code{
    background-color: grey;
}
/* Font Family and Weight Design */
.font_family_design, .font_weight_design {
  padding: 4px;
  margin: 4px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  color: #333;
}

.font_family_design:focus, .font_weight_design:focus {
  outline: none;
  border-color: #565552;
}